---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = await getCollection("posts");
const sortedPosts = allPosts.sort((a, b) => {
  const dateA = new Date(a.data.publishDate).getTime();
  const dateB = new Date(b.data.publishDate).getTime();
  return dateB - dateA;
});
const title = "Jurnal";
---

<BaseLayout title={title}>
  <h1>{title}</h1>
  <ul>
    {
      sortedPosts.map((post) => (
        <BlogPost url={`/blog/${post.slug}`} data={post.data} />
      ))
    }
  </ul>
</BaseLayout>
