---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = await getCollection("posts");
const title = "Jurnal";
---

<BaseLayout title={title}>
  <div class="prose max-w-none md:prose-lg lg:prose-xl">
    <h1>{title}</h1>
    <ul>
      {
        allPosts.map((post) => (
          <BlogPost url={`/blog/${post.slug}`} data={post.data} />
        ))
      }
    </ul>
  </div>
</BaseLayout>
