---
const headerTitle = "Jurnal Madyan";
---

<header role="banner" class="my-4">
  <div class="font-bold text-xl">
    {headerTitle}
  </div>
  <div class="text-xs">Sekumpulan kecil pencerahan berdasarkan pengalaman</div>
</header>
