---
const headerTitle = "Jurnal Madyan";
---

<header role="banner" class="">
  <div class="text-xl font-bold">
    {headerTitle}
  </div>
  <div class="text-xs">Sekumpulan kecil pencerahan berdasarkan pengalaman</div>
</header>
