---
import Banner from "./Banner.astro";
import Navigation from "./Navigation.astro";
---

<div class="mb-10 w-full bg-slate-200 px-4 py-6">
  <div class="mx-auto space-y-4 sm:max-w-screen-sm lg:max-w-screen-lg">
    <Banner />
    <Navigation />
  </div>
</div>
