---
import Banner from "./Banner.astro";
import Navigation from "./Navigation.astro";
---

<div class="mb-10 w-full bg-slate-200 px-4 py-6 sm:px-0">
  <div class="mx-auto max-w-prose space-y-4">
    <Banner />
    <Navigation />
  </div>
</div>
