<nav>
  <ul role="menubar" class="flex gap-1 space-x-5 underline">
    <li role="none">
      <a role="menuitem" href="/">Jurnal</a>
    </li>
    <li role="none">
      <a role="menuitem" href="/about">Tentang Saya</a>
    </li>
  </ul>
</nav>
