---
import PublishDate from "./PublishDate.astro";
import Tags from "./Tags.astro";

const { publishDate, tags } = Astro.props;
---

<div class="mb-10 space-y-2 bg-slate-200 p-4 font-light sm:w-fit">
  <PublishDate publishDate={publishDate} />
  <Tags tags={tags} />
</div>
