---
import { formatDate } from "../utils/formatDate";

const { publishDate } = Astro.props;
const formattedDate = formatDate(publishDate);
---

<div class="flex items-center gap-1 rounded text-xs">
  <div>Diterbitkan pada hari {formattedDate}</div>
</div>
