---
const { publishDate } = Astro.props;

const options: Intl.DateTimeFormatOptions = {
  weekday: "long", // Day of the week
  year: "numeric", // Year
  month: "long", // Month
  day: "numeric", // Date
};
const formattedDate = new Intl.DateTimeFormat("id-ID", options).format(
  publishDate,
);
---

<div class="flex items-center gap-1 rounded text-xs">
  <div>Diterbitkan pada hari {formattedDate}</div>
</div>
