---
import Tag from "./Tag.astro";

const { tags } = Astro.props;
---

<div class="items-center space-x-2 rounded text-xs">
  <!-- <div>Label:</div> -->
  {tags.map((tag: string, index: number) => <Tag tag={tag} />)}
</div>
