---
import BaseLayout from "./BaseLayout.astro";
import PostMetadata from "../components/PostMetadata.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <article class="prose md:prose-lg lg:prose-xl">
    <h1>{frontmatter.title}</h1>
    <PostMetadata
      publishDate={frontmatter.publishDate}
      tags={frontmatter.tags}
    />
    <slot />
  </article>
</BaseLayout>
